@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
    background-color: #1a1919;
}

.main-div {
    font-family: 'Titillium Web';
    color: white;
}

.title {
    font-size: 125px;
    margin-bottom: 30px;
}

.title:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blinker 0.7s infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.description {
    font-size: 30px;
    text-align: center;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 2px solid white; */
    background-color: #171515;
    box-shadow: 0px 0px 0px 3px #211e1e;
}

.logo {
    font-size: 50px;
    font-family: 'Titillium Web';
    color: white;
    margin-left: 50px;
    /* padding-right: 35px; */
    /* border-right: 3px solid white; */
}

.logo strong {
    margin-left: 30px;
}

.options {
    width: 90%;
    float: center;
}

.options ul li {
    display: inline-block;
    font-family: 'Titillium Web';
    font-size: 35px;
    margin-left: 40px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-div {
    position: absolute;
    /* margin: 0 auto; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.account {
    font-family: 'Titillium Web';
    font-size: 25px;
    margin-right: 20px;
}

.account ul li {
    list-style: none;
}

.account .a {
    border-bottom: 2px solid white;
}